<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="TimeTrackerEntities" connectionString="metadata=res://*/Edmx.TimeTrackerDb.csdl|res://*/Edmx.TimeTrackerDb.ssdl|res://*/Edmx.TimeTrackerDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LDCWVSQLD008.wm.com,2526;initial catalog=TimeTracker;user id=TimeUser;password=time@123;multipleactiveresultsets=True;connect timeout=180;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>