<div class="ajax-loading-block-window" style="display: none">
    <div class="loading-image"></div>
</div>
<script type="text/javascript">
    function displayAjaxLoading(display) {
        $('.ajax-loading-block-window').attr("style","display:"+(display ? "fixed" : "none"));
    }
</script>
