
@{
    ViewBag.Title = "Access Denied";
}

<div class="clear"></div>
<div class="page accessdenied-page">
    <div class="page-title">
        <h1>Access Denied</h1>
    </div>
    <div class="clear"></div>
    <div class="page-body">
        <br />
        <br />
        <p style="font-size: 16pt; font-weight: bold;">
            We're sorry, you are not authorized to access time sheet page
        </p>
    </div>
</div>

