
.k-icon,
.k-tool-icon,
.k-grouping-dropclue,
.k-drop-hint,
.k-callout,
.k-column-menu .k-sprite {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2012.3.1315/styles/Metro/sprite.png');
  border-color: transparent;
}
.k-loading,
.k-state-hover .k-loading {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2012.3.1315/styles/Metro/loading.gif');
  background-position: 50% 50%;
}
.k-loading-image {
  background-image: url('images/ajax_loader_small.gif');
}
.k-tool-icon,
.k-tool-icon.k-state-hover,
.k-tool-icon.k-state-active,
.k-tool-icon.k-state-active.k-state-hover {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2012.3.1315/styles/Metro/sprite.png');
}
.k-slider-horizontal .k-tick {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2012.3.1315/styles/Metro/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2012.3.1315/styles/Metro/slider-v.gif');
}

.k-tile .k-folder,
.k-tile .k-file {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2012.3.1315/styles/Metro/imagebrowser.png');
}
